<?xml version="1.0"?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find warehouse_robot)/xacro/bot.xacro'" />

	<!-- State Publishers -->
	<include file="$(find warehouse_robot)/launch/state_publisher.launch" />

	<!-- Odom calc -->
	<node pkg="warehouse_robot" type="odom_calculator" name="odom_calculator" />


	<!-- RViz -->
	<!-- <include file="$(find warehouse_robot)/launch/rviz.launch" /> -->
</launch>
